body{

}

video{
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  right: 0;

}


main{
position: fixed;
top: 0;
width: 100%;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 20px;

}



li {
    display: inline;

}


ul {
    list-style-type: none;
    text-align: center;
    line-height: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(250,250,250,0.0);


}

li {
    float: center ;

}

.list ul li a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    position: relative;
}
.list ul li a:hover{


}

.list ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.1s ease;




}

.list ul li a:hover:before{
  visibility: visible;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);


}







.name{
  font-family: Helvetica;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  padding-bottom: 190px;
  padding-left: 20px;
  padding-top: 190px;
  padding-right: 20px;


}


.row{
  font-family: "Gotham A","Gotham B",sans-serif;
  font-size: 20px;
  color: black;
  font-style: bold;

}

.container-fluid{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;


}
